
/* 头部 */


/* 轮播图 */
.banner{width: 100%;height: 580px;background: #808080}
/* .banner{width: 100%;min-width:1200px;height:500px;overflow:hidden;position: relative;}
.banner h3 { text-align: center; font-size: 60px; color: #fff; line-height: 450px; }
.banner1{background: #1f1f1f url(../img/Home_banner1.png) no-repeat center;position: absolute;left:0px;top:0px;width: 100%;height:500px;}
.banner2{background: #186b75 url(../img/Home_banner2.png) no-repeat center;position: absolute;left:0px;top:0px;width: 100%;height:500px;}
.banner3{background: #080b0b url(../img/Home_banner3.png) no-repeat center;position: absolute;left:0px;top:0px;width: 100%;height:500px;}
.banner4{background: #0f2249 url(../img/Home_banner4.png) no-repeat center;position: absolute;left:0px;top:0px;width: 100%;height:500px;}
.banner5 {background: url(../img/Home_banner5.png) no-repeat center;position: absolute;left:0px;top:0px;width: 100%;height:500px;}
.banner6 {background: url(../img/Home_banner6.png) no-repeat center;position: absolute;left:0px;top:0px;width: 100%;height:500px;}
.banner7 {background: url(../img/Home_banner7.jpg) no-repeat center;position: absolute;left:0px;top:0px;width: 100%;height:500px;}
.banner .d2{width:100%;height:30px;clear:both;position:absolute;z-index:100;left:0px;bottom:10px;}
.banner .d2 ul {float:left;position:absolute;left:50%;top:0;margin:0 0 0 -50px;display:inline;}
.banner .d2 li {width:14px;height:14px;overflow:hidden;cursor:pointer;border:1px solid #fff;border-radius: 40px;float:left;margin:0 3px;display:inline;}
.banner .d2 li.nuw {background:#fff;}
.banner-mod{width: 1200px;margin:0 auto;padding-top: 110px;}
.banner-tool{width: 490px;float: right; margin-top: 70px;}
.banner-mod p{font-size: 20px;color: #fff;line-height: 20px;}
.banner-mod h2{font-size: 48px;color: #fff;padding:20px 0;}
.banner-mod a{display: block;width: 170px;height: 40px;border-radius: 80px;border: 1px solid #fff;font-size: 16px;color: #fff;text-align: center;line-height: 40px; transition: background 1s; -moz-transition: background 1s; -webkit-transition: background 1s; -o-transition: background 1s; }
.banner-mod a:hover{background: #fff;color: #1d7eeb;}*/


.bandins_recommend{margin:0 auto;width: 1200px;height: 204px;background-color: #fff;padding-top:36px; }
.bandins_recommend .recommend_title{float: left;width:200px;padding-left:24px;  }
.bandins_recommend .recommend_title h3{font-size: 29px;color:#303030;margin-top: -7px;} 
.bandins_recommend .recommend_title p{font-size: 14px;color: #c5c5c5;margin-top:-4px; }
.bandins_recommend .recommend_details{float: left; width: 940px;margin-left: 36px;}
.bandins_recommend .recommend_details p{color:#606060;font-size: 14px;line-height: 25px;}
.bandins_recommend .recommend_details h3{color:#6e6e6e;line-height: 50px;font-size: 14px; }
.bandins_recommend .recommend_details span{float:left;width: 100px;}
.bandins_recommend .recommend_details span i{float:left;margin-top:4px; }
.bandins_recommend .recommend_details span p{float:left;margin-left: 7px; font-size:14px;color: #606060; }
/* 我们能为您做什么 */
.main{background: #f7f7f7;}
.main .products{margin:0 auto;width: 1200px;height: 280px ;}
.main .products ._products{text-align:center;}
.main .products ._products h3{font-size:28px;line-height: 95px;display: block;}
.main .products ._products em{font-size:14px; color: #888; display: block;margin-top: -33px; }
.main .products #content{margin-left: 22px;margin-top:30px; color: #595959;line-height: 25px;font-size: 16px; width: 1136px;}
.main #service {margin: 0 auto;height: 290px;width: 1200px;}
.main #service li{width: 285px;height: 290px;float: left;background-color:#ffffff;margin-left: 20px;text-align: center }
.main #service li i img{margin-top: 34px; }
.main #service li h3{color: #606060;line-height: 45px;font-size: 16px;font-weight: 800 }
.main #service li p{color: #aeaeae;width: 162px;margin:0 auto;text-align: left}
/* how-do */
.main .how_do{height: 740px;width: 1176px;margin: 0 auto;padding-left: 24px;position: relative;}
.main .how_do h4{margin-top:115px;font-size: 23px;color:#303030 }
.main .how_do p{font-size: 14px;line-height: 55px;color:#adadad }
.main .how_do span{position: absolute;bottom: 0px;width: 1200px}
.main .how_do span img{width: 580px;margin: 0 auto;display: block}
/* 车险业务系统 */
.main .operation_system{width: 1158px;background: #ffffff ;margin: 0 auto;min-height:900px;}
.main .operation_system .system_top{width: 1080px;height:120px; margin: 0 auto;border-bottom: 1px solid #eeeeee;text-align: center;padding-top: 39px; }
.main .operation_system .system_top h3{color: #303030;font-size:22px;}
.main .operation_system .system_top p{width: 712px;margin:0 auto;color: #999999;line-height: 26px;}
.main .operation_system .system_edition{width:1080px;margin: 0 auto;height: 400px;border-bottom: 1px solid #eeeeee;}
/* 车商版*/
.main .operation_system .system_edition .system_car{width: 539px;float: left;border-right: 1px solid#eeeeee;height: 400px;}
.main .operation_system .system_edition .system_car .system_carIcon{margin-top: 40px;margin-left: 14px;float: left ;}
.main .operation_system .system_edition .system_car .system_carDetails{float: left;margin-left: 30px;width: 400px;height: 320px;margin-top: 58px;}
.main .operation_system .system_edition .system_car .system_carDetails .system_carDetailsspan{width: 332px;height: 116px;display: block}
.main .operation_system .system_edition .system_car .system_carDetails .system_carDetailsspan h3{color:#303030;font-size: 17px;font-weight: 700}
.main .operation_system .system_edition .system_car .system_carDetails .system_carDetailsspan p{color:#5b5b5b;font-size: 13px;line-height: 26px;margin-top: -3px;width: 328px;}
.main .operation_system .system_edition .system_car .system_carDetails h4{font-size:14px; color:#7c7c7c;}
.main .operation_system .system_edition .system_car .system_carDetails ul{width: 354px;margin-top: 20px;height: 106px;}
.main .operation_system .system_edition .system_car .system_carDetails ul li{float: left;margin-right: 10px; width: 108px;height: 32px;background: #f8f9fb;text-align: center;line-height: 32px}
.main .operation_system .system_edition .system_car .system_carDetails ul li i{float: left;margin-top: 5px;margin-left: 10px; }
.main .operation_system .system_edition .system_car .system_carDetails ul li em{float: left;margin-left: 6px;}
.main .operation_system .system_edition .system_car .system_carDetails input{padding: 9px 19px;color:#7588dc; background: #ffffff;border: 1px solid #eeeeee;}
/* 经代版 */
.main .operation_system .system_edition .system_agency{width: 540px;float: left;height: 400px; }
.main .operation_system .system_edition .system_agency .system_agencyIcon{margin-top: 40px;margin-left: 50px;float: left ;}
.main .operation_system .system_edition .system_agency .system_agencyDetails{float: left;margin-left: 30px;width: 370px;height: 320px;margin-top: 58px;}
.main .operation_system .system_edition .system_agency .system_agencyDetails .system_agencyspan{width: 332px;height: 116px;display: block}
.main .operation_system .system_edition .system_agency .system_agencyDetails h3{color:#303030;font-size: 17px;font-weight: 700}
.main .operation_system .system_edition .system_agency .system_agencyDetails p{color:#5b5b5b;font-size: 13px;line-height: 26px;margin-top: -3px;width: 328px;}
.main .operation_system .system_edition .system_agency .system_agencyDetails h4{font-size:14px; color:#7c7c7c;}
.main .operation_system .system_edition .system_agency .system_agencyDetails ul{width: 354px;margin-top: 20px;height: 106px;}
.main .operation_system .system_edition .system_agency .system_agencyDetails ul li{float: left;margin-right: 10px; width: 108px;height: 32px;background: #f8f9fb;text-align: center;line-height: 32px}
.main .operation_system .system_edition .system_agency .system_agencyDetails i{float: left;margin-top: 5px;margin-left: 10px; }
.main .operation_system .system_edition .system_agency .system_agencyDetails ul li em{float: left;margin-left: 6px;}
.main .operation_system .system_edition .system_agency .system_agencyDetails input{padding: 9px 19px;color:#7588dc; background: #ffffff;border: 1px solid #eeeeee;}
/* 好评通用功能 */
.main .operation_system .goods_reputation{height:360px;width: 1080px;margin:0 auto;border-bottom: 1px solid #eeeeee}
.main .operation_system .goods_reputation h3{font-size: 17px;color:#303030;text-align: center; margin-top:56px;font-weight: 600 }
.main .operation_system .goods_reputation #goods_details{height: 138px;}
.main .operation_system .goods_reputation #goods_details li{ width: 220px;float: left;height: 100px;margin-top:66px;}
.main .operation_system .goods_reputation #goods_details li i{float: left;}
.main .operation_system .goods_reputation #goods_details li span{float: left;width: 132px;margin-left: 18px;}
.main .operation_system .goods_reputation #goods_details li h4{font-size:14px;color:#7c7c7c; }
.main .operation_system .goods_reputation #goods_details li p{font-size: 11px;color:#cacaca;margin-top:10px;}
.main .operation_system .goods_reputation .goods_btn{margin-top: 60px;margin-left: 348px;}
.main .operation_system .goods_reputation .goods_btn input{padding: 10px 25px;background: #ffffff;border: 1px solid #eeeeee;font-size:13px ;color: #1f49cf}
.main .operation_system .goods_reputation .goods_btn .consult{margin-left: 20px;}
.main .operation_system .goods_reputation .goods_btn input:hover{color: #fff;background: #1f49cf}
.main .operation_system .System_advantage{height: 456px;width: 1080px;position: relative;font-size: 14px;color: #b2b2b2;}
.main .operation_system .System_advantage .System_advantage_left{position: absolute;top:135px;left: 230px; }
.main .operation_system .System_advantage .System_advantage_right{position: absolute;top: 135px;left:726px; }
.main .operation_system .System_advantage .System_advantage_bottom{position: absolute;width: 420px;text-align: center;left: 336px;bottom:40px;}
.main .operation_system .System_advantage img{height: 272px;width:324px;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%)}
/* 非车业务 */
.main .notcar_insurance{min-height: 318px; width: 1160px; background:#ffffff;margin:auto;margin-top: 64px;text-align: center;}
.main .notcar_insurance h3{font-size:22px;color: #303030;line-height: 85px; }
.main .notcar_insurance p{font-size:14px;color: #7c7c7c;margin: 0 auto; margin-top: -18px;width: 714px;line-height: 26px; }
.main .notcar_insurance span{margin-top: 86px;display: block;color: #f1f1f1;font-size: 22px;}
/* 成功案例 */
.main .successful_font{height: 160px;text-align: center;}
.main .successful_font h3{line-height: 160px;font-size: 29px;color: #303030;}
.main .successful_font p{margin-top: -65px;color: #c0c0c0;font-size: 8px;}
/* 东风南方 */
.main .successful_case{height: 218px;margin: 0 auto;width: 1160px;}
.main .successful_case  .dfnf_case{float: left;height: 188px;background:#ffffff;width:558px;padding-top: 30px;}
.main .successful_case  .dfnf_case img{display: block;float: left;margin-top: 23px;margin-left: 53px;margin-right: 46px;}
.main .successful_case  .dfnf_case span{display: block;width: 310px;border-left:1px solid #eeeeee;height: 160px;float: left;padding-left: 30px;}
.main .successful_case  .dfnf_case span h3{font-size: 14px; color: #303030;margin-top: 16px;font-weight: 700}
.main .successful_case  .dfnf_case span ul{height:54px;margin-top: 12px; }
.main .successful_case  .dfnf_case span ul li{line-height: 21px;color: #aeaeae;font-size: 12px;font-weight: 600}
.main .successful_case  .dfnf_case i img{margin: 0;margin-top:16px; }
/* 江泰保险 */
.main .successful_case .jtbx_case{float: left;height: 188px;background:#ffffff;width:558px;margin-left: 44px;padding-top:30px; }
.main .successful_case  .jtbx_case img{display: block;float: left;margin-top: 23px;margin-left: 53px;margin-right: 46px;}
.main .successful_case  .jtbx_case span{display: block;width: 310px;border-left:1px solid #eeeeee;height: 160px;float: left;padding-left: 30px;}
.main .successful_case  .jtbx_case span h3{font-size: 14px; color: #303030;margin-top: 16px;font-weight: 700}
.main .successful_case  .jtbx_case span ul{height:54px;margin-top: 12px; }
.main .successful_case  .jtbx_case span ul li{line-height: 21px;color: #aeaeae;font-size: 12px;}
.main .successful_case  .jtbx_case i img{margin: 0;margin-top:16px; }
/* 更多使用我们产品的客户 */
.main .More_customers{min-height: 312px;width: 1160px;margin: 0 auto;}
.main .More_customers h3{display: block;height: 112px;font-size: 14px;line-height: 128px;color:#bababa;text-align: center;}
.main .More_customers .More_customers_case li{ float: left;height: 90px;margin-right: 6px;width: 140px;border: 1px solid #eeeeee}

/*我们的服务  */
.main .services{height: 480px;background: #ffffff;width: 100%;margin: 0 auto;}
.main .services span{height: 200px;text-align: center;display: block}
.main .services span h3{font-size: 28px;color: #303030;line-height: 182px;}
.main .services span  p{color:#a0a0a0;font-size: 8px;margin-top: -74px;}
.main .services .services_clear{width: 1200px;margin: 0 auto;}
.main .services .services_clear li{float: left;width: 140px;height: 180px;margin: 0 40px 0 50px; }
.main .services .services_clear li em{display: block; text-align: center;font-size: 14px; margin-top: 20px;color: #7c7c7c;}
/* 试用系统 */
.main .try_system{height: 652px;margin: 0 auto;text-align: center;background: #f7f7f7;}
.main .try_system h3{ text-align: center;font-size: 29px; color: #303030;margin-top: 69px;display: block}
.main .try_system p{font-size: 14px;color: #797979;line-height:39px;}
.main .try_system img{display: block;margin:auto;margin-top: 86px; }
.main .try_system input{padding: 10px 80px;font-size: 15px;background: #1f49cf;color: #ffffff;border:0px;margin-top: 80px;}



